.container{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;
}

.parallax{
    min-height: 500px;
    padding: 25px 25px;
    background: transparent;
}
.info{
    z-index: 2;
    position: relative;
    color: white;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   background-image: url("bg.jpeg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* filter: blur(8px);
  -webkit-filter: blur(8px);*/
 /*   background-repeat: no-repeat;*/
  /**/
}

.header {
  overflow: hidden;
  background-color:  #ccd9ff;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: #001a66;
  color: white
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


/*bg-image {
     background-position: center;

    height: 100%;
  margin: 0;
  /* The image used */
  b/*ackground-image: url("cos.jpeg");*/
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
   Full height 
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}*/


/*.bg-text {
  
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}*/


.button{
    border-radius: 50px;
}